.startScreen {
  /*    visibility: hidden*/
}

.hidden {
  visibility: hidden;
}

* {
  font-family: "Lucida Grande", sans-serif;
}

body {
  position: relative;
  background-color: #01acbd;
  background-image: linear-gradient(10deg, #1cbbbb 5%, #0072bd 100%);
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  height: 500px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid darkblue;
  */
  /*    outline-offset: 10px;*/
}

input[type='radio'] {
  font-size: 40px;
}

button {
  font-size: 18px;
  background-color: orange;
  border: 2px solid white;
  color: white;
  border-radius: 18px;
  box-shadow: 2px 3px 10px pink;
  margin-left: 20px;
}

.gameScreen, .startScreen, .finalScreen, .resultsScreen {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 25%;
  /*    padding: 10px;*/
}
